
/* background blue #9DD0D6  */
/* calcBG purple #C4F5CD */
/* calc btn yellow #EBD078*/
/* highlight color #EBdo07 */


*{
    font-family: 'Quicksand', sans-serif;
}

body {
  background-color:#9DD0D6 ;
}



.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    height: 600px;
    width: 500px;
    
    justify-items: center;
    border:#3d3d3d solid 20px;
    border-radius: 2%;
    grid-auto-flow: row dense;
    grid-template-areas:
      "Display Display Display Display"
      "allClear clear percent divided"
      "seven eight nine plus"
      "four five six minus"
      "one two three multiply"
      "zero dot equals equals";
  }

  .buttons{
    background-color: rgb(194, 194, 194);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notDisplay {
    background-color: #EBD078;
    border: 1px solid #C4A3D6;
  }

  .center-whole-page{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.highlight {
  background-color: #C4A3D6;
}



#Display{
  font-size: 3em;
}

#Display { grid-area: Display;
            justify-items: right; }
#equals { grid-area: equals; }
#allClear { grid-area: allClear; }
#clear { grid-area: clear; }
#percent { grid-area: percent; }
#divided { grid-area: divided; }
#seven { grid-area: seven; }
#four { grid-area: four; }
#one { grid-area: one; }
#zero { grid-area: zero; }
#dot { grid-area: dot; }
#two { grid-area: two; }
#five { grid-area: five; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#plus { grid-area: plus; }
#six { grid-area: six; }
#three { grid-area: three; }
#minus { grid-area: minus; }
#multiply { grid-area: multiply; }
